body, header, submit {
  background-color: lightblue;
  text-align: center;
}

h1 {
  font-size: 45px;
}

.form {
  padding: 5px;
}

a {
  font-size: 25px;
}

input[type="text"], input[type="password"], input[type="number"], input[type="date"], input[type="tel"] {
  width: 35%;
  padding: 15px;
  border: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="tel"]:focus {
  background-color: lightgrey;
  border: none;
}

.register {
  background-color: lightgreen;
  border: none;
  width: 15%;
  height: 35px;
}

.register:hover {
  background-color: darkgreen;
}