html {
  background-color: #ace5ee;
}

h1 {
  text-align: center;
  font-size: 50px ;
  font-family: Calibri;
}

fieldset {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-width: 10px;
  border-color: #FFCC99;
  font-family: Calibri;
  font-size: 35px;
  padding-bottom: 10px;
  padding-top: 10px;

}

input.firstname, .lastname, .address, .email, .dateofbirth, .mobile, .home {
  width: 100%;
  border-radius: 20px;
  font-family: Calibri;
  font-size: 25px;
  background-color: white;

}

input:focus {
  background-color: #FFCC99;

}

.submitbtn {
  background-color: #FFCC99;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: Calibri;

}

.submitbtn:hover {
  opacity: 0.4;

}
